
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Ramadhankarim';
  src: url('./fonts/Ramadhankarim-oww20.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
